    *{
        font-family: 'Fredoka', sans-serif;
        color: white;
    }
h1{
    display: inline-flex;
    gap: 10px;
}
p{
    font-weight: 600;
}
body{
    background-color: rgb(219, 212, 212);
}
main{
    width: 800px;
    height: 250px;
    background-color: #115179;
    border-radius: 30px ;
    text-align: center;
    padding: 100px 50px;
    margin-left: 30%;
}
.guessicon{
    width: 5%;
    height: auto;
}
.form{
    display: flex;
    text-align: center;
    gap: 5px;
    margin: 5px;
    align-items: center;
    padding-left: 200px;
}
.guessField{
    color: black;
    border-radius: 30px;
    border-style: none;
    height: 20px;
    text-align: center;
}
.newgame, .guessSubmit{
    border-radius: 30px;
    border-style: none;
    background-color: #2478ac;
    color: white;
    width: 150px;
    height: 30px;
}
.newgame{
    margin-right: 20px;
}

@media (max-width:1200px){
    
    main {
        width: 50vw;
        gap: 5px;
        height: auto;
        text-align: center;
        margin-left: 2px;
    }
    .guessicon{
        width: 10%;
        height: auto;
    }
    p{
        line-height: 30px;
    }
    .form{
        padding-left:2px
    }
    .newgame{
        margin-right: 1px;
    }

}
@media (max-width:600px){
    .guessicon{
        width: 20%;
        height: auto;
    }
    body {
        margin-right: 20%;
    }
    main{
        width: 60vw;
        height: auto;
        padding-bottom: 20px;
    }
}
@media (max-width:1360px){
    main {
        width: 60vw;
        gap: 5px;
        height: auto;
        text-align: center;
        margin-left: 10%;
    }
}